body {
    text-align:center;
    padding:3px;
    display:flex;
}

#UI_Active {
    width:200px;
}

#UI_Inactive {
    width:200px;
}

#dollarSign {
    position:absolute;
    font-size:17px;
}

#wage {
    text-align:center;
    margin-bottom:16.63px;
}

button {
    padding:6px;
    margin-bottom:15px;
    font-size:13px;
}

.removed {
    display:none;
}